.title{
    font-size: 24px;
    border-bottom: #e6e6e6 1px solid;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 40px;
}
.title:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 3px;
    background: #1956E6;
}
.dev_list_item{
    width: 340px;
    background: #fff;
    float: left;
    display: inline-block;
    margin-bottom: 20px;
}
.dev_list_item_desc{
    padding: 20px;
}
.dev_list_item_tit{
    font-size: 18px;
    line-height: 36px;
}
.dev_list_item_info{
    font-size: 14px;
    line-height: 24px;
}
.dev_list_item_time{
    font-size: 14px;
    padding: 15px 0 30px 0;
}
.dev_list_mar{
    margin-right: 20px;
}
.dev_list_item img{
    display: block;
    width: 100%;
    height: 210px;
}
.dev_list_btn{
    color: #fff;
    text-align: center;
    width: 120px;
    height: 30px;
    line-height: 30px;
    background: #1956E6;
    cursor: pointer;
    margin-bottom: 10px;
    z-index: 999
}