.title{
    font-size: 24px;
    border-bottom: #e6e6e6 2px solid;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-weight: 900;
    color: #3d3d3d;
}
.title:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 60px;
    height: 6px;
    background: #1956E6;
}
.titlemar{
    margin-top: 75px;
}
.part_info{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 40px;
    color: #3d3d3d;
}
.part_img_box{
    height: 120px;
    background: #fff;
    padding: 40px;
}
.part_img_box img{
    width: 120px;
    height: 120px;
    display: inline-block;
    float: left;
    border-radius: 100%;
    margin-right: 20px;
}