.title{
    font-size: 24px;
    border-bottom: #e6e6e6 2px solid;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-weight: 900;
    color: #3d3d3d;
}
.title:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 60px;
    height: 6px;
    background: #1956E6;
}
.team_info{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 40px;
    color: #3d3d3d;
}
.team_box{
    background: #fff;
    padding: 40px;
    margin-bottom: 30px;
}
.team_tit_icom{
    width: 200px;
    height: 30px;
    background: #1956E6;
    text-align: center;
    color: #fff;
    line-height: 30px;
    position: relative;
    font-weight: 700;
    font-size: 14px;
}
.team_tit_icom:after{
    content: "";
    position: absolute;
    left: -40px;
    bottom: 0;
    width: 40px;
    height: 2px;
    background: #1956E6
}
.team_item{
    width: 200px;
    height: 360px;
    float: left;
    display: inline-block;
    margin-top: 40px;
}
.team_item_mar{
    margin-right: 60px;
}
.team_item img{
    width: 200px;
    height: 200px;
    display: block
}
.item_name{
    font-size: 18px;
    padding: 20px 0 8px 0 ;
    font-weight: 900;
    color: #3d3d3d;
}
.item_p_info{
    font-size: 14px;
    line-height: 26px;
    /* height: 90px; */
    color: #9fa0a1;
    /* width: 200px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; */
    /* overflow-y: auto; */
    font-weight: 200;
}
.pdb{
    padding-bottom: 100px;
}

.line_1{
    position: absolute;
    right: -70px;
    top: -80px;
    width: 80px;
    height: 1px;
    background-color:#1956E6;
    transform:rotate(130deg);
    -ms-transform:rotate(130deg); /* Internet Explorer */
    -moz-transform:rotate(130deg); /* Firefox */
    -webkit-transform:rotate(130deg); /* Safari 和 Chrome */
    -o-transform:rotate(130deg); /* Opera */
}
.line_2{
    position: absolute;
    right: -150px;
    top: -20px;
    width: 300px;
    height: 1px;
    background-color:#1956E6;
    transform:rotate(130deg);
    -ms-transform:rotate(130deg); /* Internet Explorer */
    -moz-transform:rotate(130deg); /* Firefox */
    -webkit-transform:rotate(130deg); /* Safari 和 Chrome */
    -o-transform:rotate(130deg); /* Opera */
}
.line_3{
    position: absolute;
    left: -100px;
    top: 550px;
    width: 80px;
    height: 1px;
    background-color:#1956E6;
    transform:rotate(130deg);
    -ms-transform:rotate(130deg); /* Internet Explorer */
    -moz-transform:rotate(130deg); /* Firefox */
    -webkit-transform:rotate(130deg); /* Safari 和 Chrome */
    -o-transform:rotate(130deg); /* Opera */
}
.line_4{
    position: absolute;
    left: -250px;
    top: 570px;
    width: 300px;
    height: 1px;
    background-color:#1956E6;
    transform:rotate(130deg);
    -ms-transform:rotate(130deg); /* Internet Explorer */
    -moz-transform:rotate(130deg); /* Firefox */
    -webkit-transform:rotate(130deg); /* Safari 和 Chrome */
    -o-transform:rotate(130deg); /* Opera */
}
.line_5{
    position: absolute;
    right: -125px;
    top: 1150px;
    width: 150px;
    height: 1px;
    background-color:#1956E6;
    transform:rotate(130deg);
    -ms-transform:rotate(130deg); /* Internet Explorer */
    -moz-transform:rotate(130deg); /* Firefox */
    -webkit-transform:rotate(130deg); /* Safari 和 Chrome */
    -o-transform:rotate(130deg); /* Opera */
}
.line_6{
    position: absolute;
    right: -175px;
    top: 1120px;
    width: 150px;
    height: 1px;
    background-color:#1956E6;
    transform:rotate(130deg);
    -ms-transform:rotate(130deg); /* Internet Explorer */
    -moz-transform:rotate(130deg); /* Firefox */
    -webkit-transform:rotate(130deg); /* Safari 和 Chrome */
    -o-transform:rotate(130deg); /* Opera */
}
.line_7{
    position: absolute;
    left: -100px;
    top: 550px;
    width: 300px;
    height: 1px;
    background-color:#1956E6;
    transform:rotate(50deg);
    -ms-transform:rotate(50deg); /* Internet Explorer */
    -moz-transform:rotate(50deg); /* Firefox */
    -webkit-transform:rotate(50deg); /* Safari 和 Chrome */
    -o-transform:rotate(50deg); /* Opera */
}
.line_8{
    position: absolute;
    left: 70px;
    top: 662px;
    width: 100px;
    height: 1px;
    background-color:#1956E6;
    transform:rotate(50deg);
    -ms-transform:rotate(50deg); /* Internet Explorer */
    -moz-transform:rotate(50deg); /* Firefox */
    -webkit-transform:rotate(50deg); /* Safari 和 Chrome */
    -o-transform:rotate(50deg); /* Opera */
}
.team_text, .position_r{
    position: relative;
    z-index: 999999999
}
.buding{
    width: 100px;
    height: 100px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0
}